# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/runtime/.vs/runtime
/runtime/build
/runtime/bin/source/ReflectionGenerator/.vs
/runtime/bin/source/ReflectionGenerator/SampleCpp/x64/Debug
/runtime/bin/source/ReflectionGenerator/x64/Debug
/runtime/bin/source/ReflectionGenerator/bin/Debug/net7.0
/runtime/bin/source/ReflectionGenerator/obj
/runtime/bin/source/ReflectionGenerator/Sample/x64/Debug
/runtime/bin/source/ReflectionGenerator/bin/Debug/net8.0
/runtime/bin/source/MakeAllIncludeHeader/.vs
/runtime/bin/source/MakeAllIncludeHeader/bin
/runtime/bin/source/MakeAllIncludeHeader/obj
/runtime/bin/source/ReflectionGenerator/Sample/x64/Release/SampleCpp.tlog
/runtime/bin/source/ReflectionGenerator/Sample/x64/Release
/runtime/bin/source/ReflectionGenerator/x64/Release
/runtime/bin/source/ReflectionGeneratorCpp/.vs/ReflectionGeneratorCpp
/runtime/bin/source/ReflectionGeneratorCpp/ifc
/runtime/runtime.vcxproj.preprocess
/runtime/runtime.vcxproj.preprocess2
/runtime/unity_711FJ45DMPQLZRQN.i
/runtime/bin/source/ReflectionGenerator/output3.txt
/runtime/reflection/build/intermediate/x64/Debug/reflection
/runtime/reflection_generated/build/intermediate/x64/Debug/reflection_generated
/runtime/core/build/intermediate/x64/Debug/core
/runtime/kernel/build/intermediate/x64/Debug/kernel
/runtime/bin/source/ReflectionGeneratorCpp/build/.vs/LLVM
/runtime/bin/source/ReflectionGeneratorCpp/build
/runtime/bin/source/ReflectionGeneratorCpp/Reflecti.a6cde9f7/x64/Debug
/runtime/bin/source/ReflectionGeneratorCpp/x64/Debug
/runtime/bin/source/ReflectionGeneratorCpp/Sample/SampleCpp/x64/Debug
/runtime/bin/source/ReflectionGeneratorCpp/Sample/x64
/runtime/reflection_generated/build/x64/Debug
