# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/runtime/.vs/runtime
/runtime/build
/runtime/bin/source/ReflectionGenerator/.vs
/runtime/bin/source/ReflectionGenerator/SampleCpp/x64/Debug
/runtime/bin/source/ReflectionGenerator/x64/Debug
/runtime/bin/source/ReflectionGenerator/bin/Debug/net7.0
/runtime/bin/source/ReflectionGenerator/obj
/runtime/bin/source/ReflectionGenerator/Sample/x64/Debug
/runtime/bin/source/ReflectionGenerator/bin/Debug/net8.0
