# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/runtime/.vs/runtime
/runtime/build
/runtime/bin/source/ReflectionGenerator/.vs
/runtime/bin/source/ReflectionGenerator/SampleCpp/x64/Debug
/runtime/bin/source/ReflectionGenerator/x64/Debug
/runtime/bin/source/ReflectionGenerator/bin/Debug/net7.0
/runtime/bin/source/ReflectionGenerator/obj
/runtime/bin/source/ReflectionGenerator/Sample/x64/Debug
/runtime/bin/source/ReflectionGenerator/bin/Debug/net8.0
/runtime/bin/source/MakeAllIncludeHeader/.vs
/runtime/bin/source/MakeAllIncludeHeader/bin
/runtime/bin/source/MakeAllIncludeHeader/obj
/runtime/bin/source/ReflectionGenerator/Sample/x64/Release/SampleCpp.tlog
/runtime/bin/source/ReflectionGenerator/Sample/x64/Release
/runtime/bin/source/ReflectionGenerator/x64/Release
/runtime/bin/source/ReflectionGeneratorCpp/.vs/ReflectionGeneratorCpp
/runtime/bin/source/ReflectionGeneratorCpp/ifc
/runtime/runtime.vcxproj.preprocess
/runtime/runtime.vcxproj.preprocess2
/runtime/unity_711FJ45DMPQLZRQN.i
/runtime/bin/source/ReflectionGenerator/output3.txt
/runtime/reflection/build/intermediate/x64/Debug/reflection
/runtime/reflection_generated/build/intermediate/x64/Debug/reflection_generated
/runtime/core/build/intermediate/x64/Debug/core
/runtime/kernel/build/intermediate/x64/Debug/kernel
/runtime/bin/source/ReflectionGeneratorCpp/build/.vs/LLVM
/runtime/bin/source/ReflectionGeneratorCpp/build
/runtime/bin/source/ReflectionGeneratorCpp/Reflecti.a6cde9f7/x64/Debug
/runtime/bin/source/ReflectionGeneratorCpp/x64/Debug
/runtime/bin/source/ReflectionGeneratorCpp/Sample/SampleCpp/x64/Debug
/runtime/bin/source/ReflectionGeneratorCpp/Sample/x64
/runtime/reflection_generated/build/x64/Debug
/runtime/bin/source/CustomTask/.vs
/runtime/bin/source/CustomTask/bin/x64
/runtime/bin/source/CustomTask_DotNet8/.vs
/runtime/bin/source/CustomTask_DotNet8/bin
/runtime/bin/source/CustomTask_DotNet8/obj
/bin/source/CustomTask_DotNet8/.vs
/bin/source/CustomTask_DotNet8/bin
/bin/source/CustomTask_DotNet8/obj
/bin/source/MakeAllIncludeHeader/.vs
/bin/source/ReflectionGenerator/bin
/bin/source/ReflectionGenerator/.vs
/bin/source/MakeAllIncludeHeader/obj
/bin/source/MakeAllIncludeHeader/bin
/bin/source/ReflectionGeneratorCpp/x64/Debug
/bin/source/ReflectionGeneratorCpp/.vs/ReflectionGeneratorCpp
/bin/source/ReflectionGeneratorCpp/Reflecti.a6cde9f7/x64/Debug
/bin/source/ReflectionGeneratorCpp/ifc
/bin/source/test/x64/Debug
/bin/source/test/test/x64/Debug
/bin/source/test/.vs/test
/bin/source/test/packages/CustomTask.1.0.0
/runtime/bin/source/CustomTask/bin/Release
/runtime/bin/source/CustomTask/obj/Debug/netstandard2.0
/runtime/bin/source/CustomTask/obj/Release/netstandard2.0
/runtime/bin - コピー
/bin/source/ReflectionGenerator/obj
/bin/source/ReflectionGenerator/Sample/x64
/bin/source/ReflectionGenerator/x64
/bin/source/ReflectionGenerator/Sample/SampleCpp/x64/Debug/SampleCpp.tlog
/bin/source/ReflectionGenerator/Sample/SampleCpp/x64/Debug

/runtime/bin/source/ReflectionGenerator/bin

/runtime/bin/source/ReflectionGeneratorCpp/Reflecti.a6cde9f7/x64/Release
/runtime/bin/source/RuntimeTypeDB/obj
/runtime/bin/source/RuntimeTypeDB/bin/Debug/net9.0
/Editor/.vs/Editor
/Editor/obj
/Editor/Nox/obj
/Editor/.vs
/Editor/bin/Debug

/Editor/Nox/bin/Debug/net9.0
/Editor/Studio/bin/Debug
/Editor/Studio/obj
/Editor/Core/bin/Debug
/Editor/Core/obj
/runtime/bin/source/CustomTask/obj
/runtime/bin/source/RuntimeTypeDB/bin/Release/net9.0
/runtime/.vs
/runtime/bin/source/RuntimeTypeDB/bin
/Editor/Module/Render/bin
/Editor/Module/Render/obj
/Editor/Nox/bin
/Editor/NoxUI/bin
/Editor/NoxUI/obj
/Editor/Studio.Wpf/bin
/Editor/Studio.Wpf/obj
/Editor/Core/bin/Release
/Editor/Core.UI/bin
/Editor/Core.UI/obj
/.vs
/runtime/bin/ReflectionGenerator.exe
/runtime/bin/ReflectionGenerator.pdb
/runtime/bin/RuntimeTypeDB.pdb
/runtime/bin/source/RuntimeTypeDB/.vs/RuntimeTypeDB.slnx


/runtime/kernel/build/x64/Debug
/runtime/reflection/build/x64/Debug
/runtime/core/build/x64/Debug
/Editor/Studio.Wpf.UITests/bin/Debug/net10.0-windows
/Editor/Studio.Wpf.UITests/obj
/Assets
/runtime/kernel/test/build/intermediate/x64/Debug/kernel_test
/runtime/reflection_generated/gen
/runtime/bin/source/NoxLib/.vs
/runtime/bin/source/NoxLib/NoxLib/x64/Debug
/runtime/bin/source/NoxLib/x64/Debug
/runtime/bin/source/nox_lib/.vs
/runtime/bin/source/nox_lib/x64/Debug
